<link href="{{ asset('bundles/xoeoropicturecut/JanelaBootstrap/jquery-ui-1.10.0.custom.css') }}" />
<style>
#JtuyoshiCrop #Painel{font-size:12px;padding-bottom:10px;margin:0}
#JtuyoshiCrop #Principal{position:relative;margin:0}
#JtuyoshiCrop #SelecaoRecorte{position:absolute;background-color:#FFF;border:2px #333 dotted;opacity:0.5}
#JtuyoshiCrop .row{
  padding: 0.5em 1em;
}
.ui-dialog .ui-dialog-title{
  font-weight: normal;
  padding: 0;
}
</style>
<script>

</script>
<div id="Painel">

<div class="row">
  <div class="col-xs-4 col-sm-2">

    <select id="SelectOrientacao" title="{{- 'title.orientation'|trans({}, 'XoeoroPictureCutBundle') -}}"  class="form-control">
      <option value="Horizontal" id="orientation-horizontal">
        {{- 'orientation.horizontal'|trans({}, 'XoeoroPictureCutBundle') -}}
      </option>
      <option value="Vertical" id="orientation-vertical">
        {{- 'orientation.vertical'|trans({}, 'XoeoroPictureCutBundle') -}}
      </option>
    </select>

  </div>
  <div class="col-xs-4 col-sm-2">
    <select id="SelectProporcao" title="{{- 'title.proportion'|trans({}, 'XoeoroPictureCutBundle') -}}"  class="form-control">
      <option value="wide" id="proporcao-wide">
        {{- 'proportion.wide'|trans({}, 'XoeoroPictureCutBundle') -}}
      </option>
      <option value="box" id="proporcao-box">
        {{- 'proportion.box'|trans({}, 'XoeoroPictureCutBundle') -}}
      </option>
      <option value="livre" id="proporcao-livre">
        {{- 'proportion.livre'|trans({}, 'XoeoroPictureCutBundle') -}}
      </option>
    </select>
  </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="btn-group">
      <button id="button_crop_recortar" class="btn btn-default">
        {{- 'button_crop_recortar'|trans({}, 'XoeoroPictureCutBundle') -}}
      </button>
      <button id="button_crop_original" class="btn btn-success">
        {{- 'button_crop_original'|trans({}, 'XoeoroPictureCutBundle') -}}
      </button>
    </div>
   </div>
</div>

</div>
<div id="Principal">
  <div id='SelecaoRecorte'></div>
</div>