<style>
#JtuyoshiCrop #Painel{font-size:12px;padding-bottom:10px;margin:0}
#JtuyoshiCrop #Principal{position:relative;margin:0}
#JtuyoshiCrop #SelecaoRecorte{position:absolute;background-color:#FFF;border:2px #333 dotted;opacity:0.5}
</style>
<script>
$(function(){
	var $t = function (selector){ return $("#JtuyoshiCrop").find(selector); };
	$t(":button").button();
})
</script>
<div id="Painel">
	<span>
		<select id="SelectOrientacao" title="{{- 'title.orientation'|trans({}, 'XoeoroPictureCutBundle') -}}" >
		  <option value="Horizontal" id="orientation-horizontal">
	        {{- 'orientation.horizontal'|trans({}, 'XoeoroPictureCutBundle') -}}
	      </option>
	      <option value="Vertical" id="orientation-vertical">
	        {{- 'orientation.vertical'|trans({}, 'XoeoroPictureCutBundle') -}}
	      </option>
	    </select>
    </span>
    <span>
	   	<select id="SelectProporcao" title="{{- 'title.proportion'|trans({}, 'XoeoroPictureCutBundle') -}}" >
	   	  <option value="wide" id="proporcao-wide">
	        {{- 'proportion.wide'|trans({}, 'XoeoroPictureCutBundle') -}}
	      </option>
	      <option value="box" id="proporcao-box">
	        {{- 'proportion.box'|trans({}, 'XoeoroPictureCutBundle') -}}
	      </option>
	      <option value="livre" id="proporcao-livre">
	        {{- 'proportion.livre'|trans({}, 'XoeoroPictureCutBundle') -}}
	      </option>
	    </select>
    </span>
    <span>
		<button id="button_crop_recortar" class="btn btn-default">
	        {{- 'button_crop_recortar'|trans({}, 'XoeoroPictureCutBundle') -}}
		</button>
		<button id="button_crop_original" class="btn btn-default">
			{{- 'button_crop_original'|trans({}, 'XoeoroPictureCutBundle') -}}
		</button>
    </span>
</div>
<div id="Principal">
	<div id='SelecaoRecorte'></div>
</div>